<h2 class='title'><%= this %> <span class='small-font'>(<%= object_count(this) %>)</span></h2>
<p>
	<%=link_to "Add New #{this}", new_polymorphic_path(this), :class => 'btn btn-outline-primary btn-sm' %>
	<%= link_to "Print PDF", "/#{this.to_s.downcase.pluralize}/print_index_pdf", :class => 'btn btn-outline-primary btn-sm',target: :_blank %>
</p>

<%= render partial: 'index', locals:{this:this} %>