<!DOCTYPE html>
<html>
  <head>
    <title><%= business_name %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class='container'>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="/"><span class='title'><%= business_name %></span></a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
	          <% if current_admin.present? %>
	            <%=link_to 'Dashboard', admins_path, :class => 'nav-link' %>
	            <% db_tables.each do |e| %>
	            	<%= link_to "#{e.humanize}", polymorphic_path(e), :class => 'nav-link' %>
	            <% end %>
	            <%=link_to 'Log Out', destroy_admin_session_path, {method: :delete, :class => 'nav-link'} %> 
	          <% else %>
	            <%= link_to 'Sign In', new_admin_session_path, :class => 'nav-link' %> 
	          <% end %>
			    </ul>
			  </div>
			</nav>
			<span class="notice"><%= notice %></span>
			<span class="alert"><%= alert %></span>
	    <%= yield %>
	   </div>
  </body>
</html>
